/* html5 reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;vertical-align:baseline;margin:0;padding:0;} 
body{line-height:1;} 
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} 
nav ul{list-style:none;} 
blockquote,q{quotes:none;} 
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;} 
del{text-decoration:line-through;} 
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;} 
table{border-collapse:collapse;border-spacing:0;} 
input,select{vertical-align:middle;} 
ul,ol{list-style-position:outside;} 
ol li{display:list-item;} 
address{font-style:normal;} 
ins{background-color:#ff9;color:#000;text-decoration:none;} 
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;} 

/* units 
    BASE: 1em = 16px
    1px = 0.063rem
    2px = 0.125rem
    3px = 
    5px = 0.313em
*/

/* typography */
@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/MyriadProLight.otf');
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Calibre, Arial, sans-serif; 
}
h1 {
    font-weight: normal;
    font-family: "MyriadProLight";
    text-transform:uppercase;
}
section h1 {
    font-size: 1.3em;
    margin-bottom: 0.4em;
}

/* layout */
.main {
    width: 100%;
    background-color:#FFF;
    color: #111;
}
.page {
    width: 64rem;
    margin: 0 auto 3.125rem; 
    border: 1px dashed blue;
}

/* page top */
.main-header {
    background-color: #0080e5;
    background-image: -webkit-linear-gradient(top , #005395, #0080e5);
    background-image: -moz-linear-gradient(top, #005395, #0080e5);
    background-image: -o-linear-gradient(top, #005395, #0080e5);
    background-image: -ms-linear-gradient(top,  #005395, #0080e5);
    background-image: linear-gradient(to bottom,  #005395, #0080e5);
    background-attachment:fixed;
}
.main-header h1 {
    color: #fff;
    font-size: 2.4em;
    font-weight: normal;
    line-height: 10.5rem;
    float:right;
}
.logo {
    width: 9.125rem;
    height: 8.938rem;
    border: 0.063rem solid #fff;
    margin: 0.625em 0;
}

/* elements */
input[type=text] {
    background: #ffffff;
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C */

    box-shadow: rgba(0,0,0, 0.1) 0 0 0.500rem;
    border: 0.063rem solid #E5E5E5;
    font-size: 1rem;
    line-height:1.250rem;
    padding: .25em .5em;
    width: 9em;
    outline: 0;
    color:#111;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Calibre, Arial, sans-serif; 
}

input:hover,
input:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0.500rem;
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%);

    }
    
button {
    background-color: #EEE;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE), color-stop(100%, #CCC));
    background-image: -webkit-linear-gradient(top, #EEE, #CCC);
    background-image: -moz-linear-gradient(top, #EEE, #CCC);
    background-image: -ms-linear-gradient(top, #EEE, #CCC);
    background-image: -o-linear-gradient(top, #EEE, #CCC);
    background-image: linear-gradient(top, #EEE, #CCC);
    border: 0.063rem solid #808080;
    border-bottom: 0.063rem solid #565656;
    border-radius: 0.188rem;
    color: #333;
    padding: 0.25rem 0;
    text-align: center;
    text-shadow: 0 0.063rem 0 #EEE;
    width: 6rem;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Calibre, Arial, sans-serif; 
    font-size:0.875rem;
    line-height:1.250rem;
}
button:hover {
    background-color: #DDD;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDD), color-stop(100%, #BBB));
    background-image: -webkit-linear-gradient(top, #DDD, #BBB);
    background-image: -moz-linear-gradient(top, #DDD, #BBB);
    background-image: -ms-linear-gradient(top, #DDD, #BBB);
    background-image: -o-linear-gradient(top, #DDD, #BBB);
    background-image: linear-gradient(top, #DDD, #BBB);
    border: 0.063rem solid #565656;
    border-bottom: 0.063rem solid #808080;
    cursor: pointer;
    text-shadow: 0 0.063rem 0 #DDD;
}
button:active {
    border: 0.063rem solid #AAA;
    border-bottom: 0.063rem solid #888;
    -webkit-box-shadow: inset 0 0 0.313em 0.125rem #AAA, 0 0.063rem 0 0 #EEE;
    box-shadow: inset 0 0 0.313em 0.125rem #AAA, 0 0.063rem 0 0 #EEE;
}

.employees .edit {
    display:none;
}

.add-person-form input {
    margin-right: 0.5rem;
}

